.scoreBox,
.playerBox,
.winBox {
  margin-bottom: 6px;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 360px;
  height: 360px;
  margin-bottom: 20px;
  background-color: #c5c44d;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  cursor: pointer;
}

.winBox h2 {
  margin: 0 0 10px 0;
  line-height: 1.2;
}

.winBox button {
  padding: 6px 20px;
  color: #777;
  background-color: #ccc;
  text-transform: uppercase;
  border: 1px solid #aaa;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.containerFirstStep {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
}

.sign {
  cursor: pointer;
}

.signSelected {
  border: 1px solid #fff;
  border-radius: 4px;
}
